.divFlex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ahmer{
    border: none;
    background-color: transparent;
    font-weight: bold;
    text-decoration: underline;
    color: red;
}

.akhther{
    border: none;
    background-color: transparent;
    font-weight: bold;
    text-decoration: underline;
    color: green;
}